/* === COLORES === */
$color-primario: rgb(52, 129, 122); 
$color-secundario: #9cded5;         
$color-texto-main: #19413d;         
$color-hover: bisque;               
$color-fondo: #e6edf0;              
$color-footer: #4895b3;            

/* === TIPOGRAFÍA === */
$font-weight-main: 400;             
$font-size-base: 1rem;               
$font-size-sm: 0.875rem;           
$font-size-lg: 1.25rem;             

/* === SPACING === */
$padding-header: 2rem;  
          

