/* === 1. MAPA DE COLORES (Para cumplir la consigna del Punto 10) === */
$paleta: (
  "primario": rgb(52, 129, 122),
  "secundario": #9cded5,
  "texto-main": #19413d,
  "hover": bisque,
  "fondo": #e6edf0,
  "footer": #4895b3
);

/* === 2. VARIABLES INDIVIDUALES (Las mantengo para que NO se rompa tu código actual) === */
$color-primario: map-get($paleta, "primario"); 
$color-secundario: map-get($paleta, "secundario");         
$color-texto-main: map-get($paleta, "texto-main");         
$color-hover: map-get($paleta, "hover");               
$color-fondo: map-get($paleta, "fondo");              
$color-footer: map-get($paleta, "footer");            

/* === 3. TIPOGRAFÍA Y SPACING === */
$font-weight-main: 400;             
$font-size-base: 1rem;               
$font-size-sm: 0.875rem;           
$font-size-lg: 1.25rem;             
$padding-header: 2rem;
          

