@charset "UTF-8";

/* === CONFIGURACIONES === */
@use 'abstracts/variables'; 
@use 'abstracts/mixins'; 

/* === ESTILOS BASE === */
@use 'base/base'; 

/* === COMPONENTES Y ANIMACIONES === */
@use 'components/globals';