
@use '../abstracts/variables' as var; 
@use '../abstracts/mixins' as mix;   

/* === HEADER === */
header { 
  background-color: var.$color-primario;
  padding: var.$padding-header;
  display: flex;
  justify-content: space-between;
  
  
  position: fixed; 
  width: 100%;     
  top: 0;          
  z-index: 1030;
  
  h1 {
    color: var.$color-texto-main;
    font-weight: var.$font-weight-main;
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      gap: 10px;
      margin: 0;
      padding: 0;

      li {
        a {
          text-decoration: none;
          font-weight: bold;
          font-size: 1rem;
          color: var.$color-secundario;
        
          transition: all 0.3s ease-in-out; 

          &:hover {
            color: var.$color-hover;
            
            border-bottom: 2px solid var.$color-hover;
            padding-bottom: 2px;
          }
        }

        .submenu {
          display: none;
          margin: 10px;
          padding: 8px 12px;
        }

        &:hover .submenu {
          display: block;
          position: absolute;
          width: 150px;
          background: var.$color-primario;
        }
      }
    }
  } 
} 