  
 @use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

header {
  background-color: $color-primario;
  padding: $padding-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;

  h1 {
    color: $color-texto-main;
    font-weight: $font-weight-main;
    font-size: $font-size-lg;
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      gap: 10px;
      margin: 0;
      padding: 0;
      position: relative;

      li {
        position: relative;

        a {
          text-decoration: none;
          font-weight: bold;
          font-size: $font-size-base;
          color: $color-secundario;
          transition: color 0.3s ease;

          &:hover {
            color: $color-hover;
          }
        }

        .submenu {
          display: none;
          margin: 10px;
          padding: 8px 12px;
        }

        &:hover .submenu {
          display: block;
          position: absolute;
          width: 150px;
          background: $color-primario;
          z-index: 10;
        }
      }
    }
  }

  .navbar-brand img {
    height: 50px;
    width: auto;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .hamburguesa {
    color: $color-fondo;
    font-size: 30px;
    display: none;
    cursor: pointer;
  }

  .dropdown-menu {
    background-color: rgba(52, 129, 122, 0.8);
    border: none;
  }

  
  @include respond-to(tablet) {
    flex-direction: column;
    align-items: center;

    nav ul {
      flex-direction: column;
      gap: 5px;
    }
  }

  @include respond-to(mobile) {
    padding: 1rem;

    .hamburguesa {
      display: block;
    }

    nav {
      display: none;
    }

    &.active nav {
      display: flex;
      flex-direction: column;
    }
  }
}


#navbarSupportedContent .nav-link {
  color: $color-secundario;
}
